*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: Helvetica;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar {
    display: flex;
    margin-right: 10px;
}
.logo{
    text-decoration: none;
}
.navbar {
	background-color: #ffffff;
	overflow: hidden;
  }
  .navbar a {
	float: left;
	display: block;
	color: black;
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  .navbar a:hover {
	background-color: #ffffff;
	color: black;
  }
  .dropdown {
	float: left;
	overflow: hidden;
  }
  .dropdown .dropbtn {
	font-size: 20px;
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: Helvetica;
	margin: 0;
  }
  .navbar a:hover,
  .dropdown:hover .dropbtn {
	background-color: #ffffff;
	color: black;
  }
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
  }
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  .dropdown-content a:hover {
	background-color: #ffffff;
  }
  .dropdown:hover .dropdown-content {
	display: block;
  }
  .sub-dropdown {
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 160px;
	display: none;
	background-color: #ffffff;
  }
  .sub-dropdown a {
	color: black;
  }
  .dropdown-content:hover .sub-dropdown {
	display: block;
  }  
  .Derechosdeautor{
	color: rgba(0, 0, 0, 1);
	width: 229px;
	height: 39px;
	position: absolute;
	left: 825px;
	top: 890px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
  }
  .Linea {
	transform: rotate(-0.000005008956538086317deg);
	width: 1750px;
	height: 0px;
	position: absolute;
	left: 80px;
	top: 870px;
  }
  .Linea {
	border: 2px solid rgb(0, 0, 0);
  }
  .Imagen {
	width: 100%;
	height: 80%;
	position: absolute;
	left: -1px;
	top: 71px;
	background-image: url(../IMG/inicio__pajaro_con_sombras_mesa_de_trabajo_1_2.png);
	background-repeat: no-repeat;
	background-size: cover;
  }
  .Reconocimientos {
	color: rgba(255, 255, 255, 1);
	width: 510px;
	height: 79px;
	position: absolute;
	left: 1300px;
	top: 700px;
	font-family: Helvetica;
	font-style: Bold Condensed;
	text-align: center;
	font-size: 48px;
	letter-spacing: 1;
  }
  .Colectivo {
	color: rgba(255, 255, 255, 1);
	width: 311px;
	height: 80px;
	position: absolute;
	left: 450px;
	top: 430px;
	font-family: Helvetica;
	font-style: Medium Condensed;
	text-align: center;
	font-size: 55px;
	letter-spacing: 1;
  }
  .Nombrecolectivo {
	color: rgba(255, 255, 255, 1);
	width: 695px;
	height: 98px;
	position: absolute;
	left: 250px;
	top: 300px;
	font-family: 'Helvetica';
	font-style: Bold Condensed;
	font-weight: 900;
	font-size: 100px;
	line-height: 139px;
	text-align: center;
	letter-spacing: 0.01em;
	
	color: #FFFFFF;
  }
  .Exposiciones {
	color: rgba(255, 255, 255, 1);
	width: 364px;
	height: 80px;
	position: absolute;
	left: 1400px;
	top: 400px;
	font-family: Helvetica;
	font-style: Bold Condensed;
	text-align: center;
	font-size: 48px;
	letter-spacing: 1;
  }
  .Correo {
	width: 38px;
	height: 30px;
	position: absolute;
	left: 870px;
	top: 822px;
	background-image: url(../IMG/icono_e_mail_1.png);
	background-repeat: no-repeat;
	background-size: cover;
  }
  .Instagram {
	width: 33px;
	height: 33px;
	position: absolute;
	left: 932px;
	top: 820px;
	background-image: url(../IMG/icono_insta_1.png);
	background-repeat: no-repeat;
	background-size: cover;
  }
  .Facebook {
	width: 34px;
	height: 34px;
	position: absolute;
	left: 990px;
	top: 819px;
	background-image: url(../IMG/icono_face_1.png);
	background-repeat: no-repeat;
	background-size: cover;
  }
